.recipe-card {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  width: calc(80% - 20px);
}

.card-body {
  width: 100%; /* Adjusted width to fit grid */
  padding: 20px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.card-image {
  width: 100%;
  height: auto; /* Adjusted width to fit grid */
}

.button {
  width: 100%; /* Adjusted to full width */
  height: 40px;
  color: black;
  font-weight: bold;
  background-color: yellow;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .recipe-card-container {
    grid-template-columns: 1fr; /* One column on smaller screens */
  }
}
